<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370100816741-m6jmnlpqd9h8g7o54c0g70hkrn1bjb3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370100816741-m6jmnlpqd9h8g7o54c0g70hkrn1bjb3m</string>
	<key>API_KEY</key>
	<string>AIzaSyCl246Iytu7CF2W_ROeG9RjUvxEsn-OM1s</string>
	<key>GCM_SENDER_ID</key>
	<string>370100816741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cobugi.FirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>logintest-1c82c</string>
	<key>STORAGE_BUCKET</key>
	<string>logintest-1c82c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370100816741:ios:4c1a426a69ecc81f442f8c</string>
</dict>
</plist>